New York City/data/raw_data.csv

*/Final_project-checkpoint.ipynb
*Final_project-checkpoint.ipynb
data/raw_data.csv
data/Skærmbillede 2017-04-02 kl. 17.32.53.png
data/raw_data_wather.csv
data/raw_data_weather.csv
